@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-orange: hsla(22, 88%, 52%, 1);
  --clr-orange-hover: hsla(22, 100%, 69%, 1);
  --clr-dark-blue: hsla(220, 50%, 17%, 1);
  --clr-grey-blue: hsla(221, 23%, 58%, 1);
  --clr-grey: hsla(198, 28%, 93%, 1);
  --clr-white: hsl(0, 0%, 100%);
  --clr-white-semi-transparent: hsla(0, 0%, 100%, 0.5);

  /* Primary */
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-soft-red-faded: hsl(7, 86%, 86%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-yellow-faded: hsl(50, 82%, 82%);
  --clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-dark-moderate-cyan: hsl(168, 34%, 41%);
  --clr-cyan-background: hsla(168, 44%, 70%, 1);

  /* Neutral */
  --clr-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-grayish-blue: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-whiteish-bg: hsl(34, 100%, 99%);
}

body {
  background-color: var(--clr-whiteish-bg);
  color: var(--clr-dark-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
  line-height: 1.65;
  text-align: center;
}

img {
  display: block;
  max-width: 100%;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  color: var(--clr-white);
  font-family: var(--ff-secondary);
  font-size: var(--fs-40);
  font-weight: var(--fw-black);
  letter-spacing: 8.75px;
  line-height: 1.25;
  text-transform: uppercase;
}

.card__title {
  color: var(--clr-very-dark-desaturated-blue);
  font-family: var(--ff-secondary);
  font-size: var(--fs-32);
  font-weight: var(--fw-black);
  line-height: 1.25;
}

.card__title-bis {
  color: var(--clr-dark-desaturated-cyan);
  font-family: var(--ff-secondary);
  font-size: var(--fs-28);
  font-weight: var(--fw-black);
}

.card__text-bis {
  color: var(--clr-dark-desaturated-cyan);
  font-size: var(--fs-16);
}

.card__title-bis--var,
.card__text-bis--var {
  color: var(--clr-dark-blue);
}

.sb__title {
  color: var(--clr-grayish-blue);
  font-family: var(--ff-secondary);
  font-size: var(--fs-16);
  font-weight: var(--fw-black);
  letter-spacing: 4px;
  text-transform: uppercase;
}

.sb__text {
  color: var(--clr-very-dark-grayish-blue);
  font-size: var(--fs-18);
  line-height: 1.75;
}

.sb__name {
  color: var(--clr-very-dark-desaturated-blue);
  font-family: var(--ff-secondary);
  font-size: var(--fs-18);
  font-weight: var(--fw-black);
}

.sb__position {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-14);
}

.footer__signature {
  font-size: var(--fs-13);
}

/* =========================== */
/* Buttons, inputs & links */
/* =========================== */
.nav-link {
  color: inherit;
  display: inline-block;
  font-size: var(--fs-20);
  text-decoration: none;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--clr-very-dark-desaturated-blue);
}

.nav-link--accent {
  background: var(--clr-yellow);
  border-radius: 2em;
  color: var(--clr-very-dark-desaturated-blue);
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  font-weight: var(--fw-bold);
  padding: 1em 2em;
  text-transform: uppercase;
}

.nav-link--accent:hover,
.nav-link--accent:focus {
  background: var(--clr-yellow-faded);
}

.card__link {
  position: relative;

  color: var(--clr-very-dark-desaturated-blue);
  font-family: var(--ff-secondary);
  font-size: var(--fs-25);
  font-weight: var(--fw-black);
  text-decoration: none;
  text-transform: uppercase;
}

.card__link::after {
  content: '';

  /* Position */
  position: absolute;
  bottom: 2px;
  left: 0;

  background: var(--clr-yellow-faded);
  border-radius: 1em;
  height: 10px;
  transform: translateX(-5%);
  width: 110%;
  z-index: -1;

  transition: all 200ms ease;
}

.card__link--var::after {
  background-color: var(--clr-soft-red-faded);
}

.card__link:hover.card__link::after,
.card__link:focus.card__link::after {
  background: var(--clr-yellow);
}

.card__link--var:hover.card__link::after,
.card__link--var:focus.card__link::after {
  background: var(--clr-soft-red);
}

.footer__links-area .nav-link {
  color: var(--clr-dark-moderate-cyan);
  font-size: var(--fs-18);
}
.footer__links-area .nav-link:hover,
.footer__links-area .nav-link:focus {
  color: var(--clr-white);
  font-size: var(--fs-18);
}

.footer__socials a:hover .svg-icon,
.footer__socials a:focus .svg-icon {
  fill: var(--clr-white);
}

/* ================== */
/* Utility styles */
/* ================== */

.container {
  padding: 0 1.33em;
}

.desktop-img {
  display: none;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* Header and Hero */
.header-and-hero {
  position: relative;
}

.header {
  /* Position */
  position: absolute;
  top: 0;

  width: 100%;
}

.header__row {
  /* Flex */
  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 1.77em;
  width: 100%;
}

.toggle-nav {
  background: transparent;
  border: none;
  cursor: pointer;
}

.toggle-nav .svg-open {
  fill: var(--clr-white);
  opacity: 0.5;
}

.nav {
  /* Position */
  position: absolute;
  top: -400px;
  left: 0;
  right: 0;
  bottom: 0;

  background: var(--clr-whiteish-bg);
  height: 315px;
  margin: 0 auto;
  padding: 0.5em 0 2em;
  width: 85%;
  z-index: 1;

  transition: transform 300ms ease-in;
}

.navigation-open {
  transform: translateY(500px);
}

.nav::before {
  content: '';
  background-color: var(--clr-whiteish-bg);
  clip-path: polygon(100% 1%, 0% 100%, 100% 100%);
  height: 24px;
  width: 24px;

  transform: translate(0%, -100%);

  /* Positioning */
  position: absolute;
  top: 0px;
  right: 0;
}

.nav .nav-list {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  list-style: none;
}

.nav .nav-link {
  margin-top: 1.5em;
}

.hero {
  /* Position */
  position: absolute;
  top: 144px;

  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.icon-area {
  margin-top: 2.89em;
}

/* Section A */
.section-a {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--1 {
  order: 2;
}

.card--2 {
  order: 1;
}

.card--3 {
  order: 3;
}

.card--4 {
  order: 4;
}

.card--5 {
  order: 5;
}

.card--6 {
  order: 6;
}

.card__copy {
  margin-top: 3.55em;
}

.card__text {
  margin-top: 1.33em;
}

.card__link {
  display: inline-block;
  margin: 1.77em auto 3.55em;
}

.card--5,
.card--6 {
  position: relative;
}

.card--5 .card__copy-bis,
.card--6 .card__copy-bis {
  position: absolute;
  bottom: 3.25em;
}

.card--5 .card__text-bis,
.card--6 .card__text-bis {
  margin: 1.5em auto 0;
}

/* Section B */
.sb__copy {
  margin-bottom: 4.78em;
  margin-top: 3.55em;
}

.sb__items {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sb__item {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3.55em;
}

.sb__headshot img {
  border-radius: 50%;
  margin: 0 auto;
  width: 50%;
}

.sb__text,
.sb__info {
  margin-top: 1.78em;
}

.sb__position {
  margin-top: 0.5em;
}

/* Section C */
.sc__grid {
  /* Grid */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Footer */
.footer {
  /* Flex */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--clr-cyan-background);
}

.footer__logo-area {
  margin-top: 3.55em;
}

.footer__logo-area svg {
  transform: scale(1.35);
}

.footer__logo-area .logo-svg {
  fill: var(--clr-dark-desaturated-cyan);
}

.footer__links-area {
  margin-top: 2.22em;
}

.footer__links-area .nav-list {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.15em;

  list-style: none;
}

.footer__socials {
  margin-top: 4.89em;
}

.footer__socials ul {
  /* Flex */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.55em;

  list-style: none;
}

.footer__signature {
  margin-top: 4.44em;
  padding-bottom: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */

@media (min-width: 475px) {
  .header.container {
    padding: 0 2.25em;
  }

  .container {
    padding: 0 2.25em;
  }
}

@media (min-width: 550px) {
  .container {
    padding: 0 3.5em;
  }

  .nav {
    width: 78%;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    bottom: 7.25em;
  }
}

@media (min-width: 645px) {
  .nav {
    width: 72%;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    bottom: 10em;
  }
}

/* Tablet */
@media (min-width: 720px) {
  /* TYPOGRAPHY */
  .nav .nav-link {
    font-size: var(--fs-18);
    color: var(--clr-white);
  }

  .nav-link--accent {
    background: var(--clr-white-semi-transparent);
    border-radius: 2em;
    padding: 0.6em 1.2em;
  }

  .nav-link--accent:hover,
  .nav-link--accent:focus {
    background: var(--clr-yellow-faded);
  }

  .card__title {
    font-size: var(--fs-28);
  }

  .card__text {
    font-size: var(--fs-14);
  }

  .card__link {
    font-size: var(--fs-16);
  }

  .card__title-bis {
    font-size: var(--fs-20);
  }

  .card__text-bis {
    font-size: var(--fs-14);
  }

  .sb__text {
    font-size: var(--fs-14);
  }

  /* UTILITY STYLES */
  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }

  .container {
    padding: 0 1em;
  }

  /* SECTIONS */
  /* Hero */

  .hero {
    top: 120px;
  }

  /* Nav */
  .toggle-nav {
    display: none;
  }

  .nav {
    /* Unset mobile nav */
    position: unset;
    top: unset;
    background: unset;
    width: unset;
    margin: unset;
    padding: unset;
    z-index: unset;
    transition: unset;

    /* Position */
    position: absolute;
    top: 20px;
    right: 0;
  }

  .nav::before {
    display: none;
  }

  .nav.navigation-open {
    display: none;
  }

  .nav .nav-list {
    /* Flex */
    flex-direction: row;
    justify-content: flex-end;
    gap: 2em;
    padding-right: 2em;
  }

  .nav .nav-link {
    margin-top: 0;
  }

  /* Section A */
  .section-a {
    /* Grid */
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .card--1 {
    order: 1;
  }

  .card--2 {
    order: 2;
  }

  .card__copy {
    margin-top: 0;
    padding: 0 1.5em;
    text-align: left;
  }

  .card__title {
    margin-top: 1em;
  }

  .card__link {
    margin: 1.77em auto 1em;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    position: absolute;
    bottom: 1em;
  }

  .card--5 .card__text-bis,
  .card--6 .card__text-bis {
    margin: 0.5em auto 0;
  }

  /* Section B */
  .sb__item {
    width: 50%;
  }

  /* Section C */
  .sc__grid {
    /* Grid */
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
  }
}

/* Desktop */
@media (min-width: 900px) {
  /* TYPOGRAPHY */
  .title {
    font-size: var(--fs-56);
  }

  .card__title {
    font-size: var(--fs-40);
  }

  .card__text {
    font-size: var(--fs-18);
  }

  .card__link {
    font-size: var(--fs-15);
  }

  .card__title-bis {
    font-size: var(--fs-28);
  }

  .card__text-bis {
    font-size: var(--fs-16);
  }

  .sb__title {
    font-size: var(--fs-20);
  }

  .sb__text {
    font-size: var(--fs-18);
  }

  /* SECTIONS */

  /* Section A */
  .card__copy {
    padding: 0 2em;
  }

  .card__title {
    margin-top: 0em;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    bottom: 0;
    top: 225px;
  }

  /* Section B */
  .sb__copy {
    margin: 8.9em auto;
  }

  .sb__item {
    max-width: 440px;
  }
}

@media (min-width: 900px) {
  /* SECTIONS */

  /* Section A */
  .card__title,
  .card__text {
    max-width: 455px;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    /* Position */
    bottom: 0;
    top: 260px;

    padding: 0;
    width: 100%;
  }

  .card--5 .card__text-bis,
  .card--6 .card__text-bis {
    max-width: 340px;
    margin: 1.5em auto 0;
  }

  /* Section B */
  .sb__items {
    /* flex */
    flex-direction: row;
    align-items: baseline;
    gap: 1.5em;

    padding: 0 2em;
  }
}

@media (min-width: 1210px) {
  .icon-area {
    margin-top: 5.33em;
  }

  .card__copy {
    padding: 0 3.5em;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    top: 300px;
  }

  .sb__text {
    max-width: 350px;
  }
}

@media (min-width: 1400px) {
  .card__copy {
    padding: 0 6em;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    top: 375px;
  }

  .sb__items {
    margin-left: auto;
    margin-right: auto;
    max-width: 1110px;
  }
}
