@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@600&family=Fraunces:wght@700;900&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* ================== */
/* Custom properties */
/* ================== */

:root {
  --ff-main: 'Barlow', sans-serif;
  --ff-secondary: 'Fraunces', serif;

  --fw-semi-bold: 600;
  --fw-bold: 700;
  --fw-black: 900;

  --fs-07: 0.438rem;
  --fs-08: 0.5em;
  --fs-09: 0.563em;
  --fs-10: 0.625rem;
  --fs-12: 0.75rem;
  --fs-13: 0.813rem;
  --fs-14: 0.875rem;
  --fs-15: 0.938rem;
  --fs-16: 1rem;
  --fs-18: 1.125rem;
  --fs-20: 1.25rem;
  --fs-22: 1.375rem;
  --fs-24: 1.5rem;
  --fs-26: 1.625rem;
  --fs-28: 1.75rem;
  --fs-32: 2rem;
  --fs-36: 2.25rem;
  --fs-40: 2.5rem;
  --fs-48: 3rem;
  --fs-56: 3.5rem;
  --fs-60: 3.75rem;
  --fs-64: 4rem;
  --fs-72: 4.5rem;
  --fs-80: 5rem;

  --clr-orange: hsla(22, 88%, 52%, 1);
  --clr-orange-hover: hsla(22, 100%, 69%, 1);
  --clr-dark-blue: hsla(220, 50%, 17%, 1);
  --clr-grey-blue: hsla(221, 23%, 58%, 1);
  --clr-grey: hsla(198, 28%, 93%, 1);
  --clr-white: hsl(0, 0%, 100%);

  /* Primary */
  --clr-soft-red: hsl(7, 99%, 70%);
  --clr-soft-red-faded: hsl(7, 86%, 86%);
  --clr-yellow: hsl(51, 100%, 49%);
  --clr-yellow-faded: hsl(50, 82%, 82%);
  --clr-dark-desaturated-cyan: hsl(167, 40%, 24%);
  --clr-dark-blue: hsl(198, 62%, 26%);
  --clr-dark-moderate-cyan: hsl(168, 34%, 41%);
  --clr-cyan-background: hsla(168, 44%, 70%, 1);

  /* Neutral */
  --clr-very-dark-desaturated-blue: hsl(212, 27%, 19%);
  --clr-very-dark-grayish-blue: hsl(213, 9%, 39%);
  --clr-dark-grayish-blue: hsl(232, 10%, 55%);
  --clr-grayish-blue: hsl(210, 4%, 67%);
  --clr-white: hsl(0, 0%, 100%);

  --clr-whiteish-bg: hsl(34, 100%, 99%);
}

body {
  background-color: var(--clr-whiteish-bg);
  color: var(--clr-dark-grayish-blue);
  font-family: var(--ff-main);
  font-size: var(--fs-18);
  font-weight: var(--fw-semi-bold);
  line-height: 1.65;
  text-align: center;
}

img {
  max-width: 100%;
  display: block;
}

/* ================== */
/* Typography */
/* ================== */

.title {
  text-transform: uppercase;
  font-weight: var(--fw-black);
  font-family: var(--ff-secondary);
  color: var(--clr-white);
  letter-spacing: 8.75px;
  font-size: var(--fs-40);
  line-height: 1.25;
}

.card__title {
  font-weight: var(--fw-black);
  font-family: var(--ff-secondary);
  font-size: var(--fs-32);
  color: var(--clr-very-dark-desaturated-blue);
  line-height: 1.25;
}

.card__title-bis {
  font-weight: var(--fw-black);
  font-family: var(--ff-secondary);
  font-size: var(--fs-28);
  color: var(--clr-dark-desaturated-cyan);
}

.card__text-bis {
  font-size: var(--fs-16);
  color: var(--clr-dark-desaturated-cyan);
}

.card__title-bis--var,
.card__text-bis--var {
  color: var(--clr-dark-blue);
}

.sb__title {
  font-weight: var(--fw-black);
  font-family: var(--ff-secondary);
  text-transform: uppercase;
  letter-spacing: 4px;
  font-size: var(--fs-16);
  color: var(--clr-grayish-blue);
}

.sb__text {
  font-size: var(--fs-18);
  color: var(--clr-very-dark-grayish-blue);
  line-height: 1.75;
}

.sb__name {
  font-family: var(--ff-secondary);
  color: var(--clr-very-dark-desaturated-blue);
  font-size: var(--fs-18);
  font-weight: var(--fw-black);
}

.sb__position {
  color: var(--clr-grayish-blue);
  font-size: var(--fs-14);
}

.footer__signature {
  font-size: var(--fs-13);
}

/* =========================== */
/* Buttons, inputs & links */
/* =========================== */
.nav-link {
  font-size: var(--fs-20);
  text-decoration: none;
  color: inherit;
}

.nav-link:hover,
.nav-link:focus {
}

.nav-link--accent {
  font-family: var(--ff-secondary);
  font-size: var(--fs-15);
  color: var(--clr-very-dark-desaturated-blue);
  text-transform: uppercase;
  font-weight: var(--fw-bold);
}

.card__link {
  font-weight: var(--fw-black);
  font-family: var(--ff-secondary);
  font-size: var(--fs-25);
  color: var(--clr-very-dark-desaturated-blue);
  text-transform: uppercase;
  text-decoration: none;

  position: relative;
}
.card__link::after {
  content: '';

  /* Position */
  position: absolute;
  bottom: 2px;
  left: 0;

  background: var(--clr-yellow-faded);
  border-radius: 1em;
  height: 10px;
  width: 110%;
  transform: translateX(-5%);
  z-index: -1;

  transition: all 200ms ease;
}

.card__link--var::after {
  background-color: var(--clr-soft-red-faded);
}

.card__link:hover.card__link::after,
.card__link:focus.card__link::after {
  background: var(--clr-yellow);
}

.card__link--var:hover.card__link::after,
.card__link--var:focus.card__link::after {
  background: var(--clr-soft-red);
}

.footer__links-area .nav-link {
  color: var(--clr-dark-moderate-cyan);
  font-size: var(--fs-18);
}
.footer__links-area .nav-link:hover,
.footer__links-area .nav-link:focus {
  color: var(--clr-white);
  font-size: var(--fs-18);
}

.footer__socials a:hover .svg-icon,
.footer__socials a:focus .svg-icon {
  fill: var(--clr-white);
}

/* ================== */
/* Utility styles */
/* ================== */

.container {
  padding: 0 1.33em;
}

.desktop-img {
  display: none;
}

/* ================== */
/* SECTIONS */
/* ================== */

/* Header and Hero */
.header-and-hero {
  position: relative;
}

.header {
  position: absolute;
  top: 0;
}

/* Provisional */
.nav {
  display: none;
}

.hero {
  position: absolute;
  top: 144px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 100%;
}

.icon-area {
  margin-top: 2.89em;
}

/* Section A */
.section-a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card--1 {
  order: 2;
}

.card--2 {
  order: 1;
}

.card--3 {
  order: 3;
}

.card--4 {
  order: 4;
}

.card--5 {
  order: 5;
}

.card--6 {
  order: 6;
}

.card__copy {
  margin-top: 3.55em;
}

.card__text {
  margin-top: 1.33em;
}

.card__link {
  display: inline-block;
  margin: 1.77em auto 3.55em;
}

.card--5,
.card--6 {
  position: relative;
}

.card--5 .card__copy-bis,
.card--6 .card__copy-bis {
  position: absolute;
  bottom: 3.25em;
}

.card--5 .card__text-bis,
.card--6 .card__text-bis {
  margin: 1.5em auto 0;
}

/* Section B */
.sb__copy {
  margin-top: 3.55em;
  margin-bottom: 4.78em;
}

.sb__items {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sb__item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  margin-top: 3.55em;
}

.sb__headshot img {
  border-radius: 50%;
  width: 50%;
  margin: 0 auto;
}

.sb__text,
.sb__info {
  margin-top: 1.78em;
}

.sb__position {
  margin-top: 0.5em;
}

/* Section C */
.sc__grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
}

/* Footer */
.footer {
  background-color: var(--clr-cyan-background);

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer__logo-area {
  margin-top: 3.55em;
}

.footer__logo-area svg {
  transform: scale(1.35);
}

.footer__logo-area .logo-svg {
  fill: var(--clr-dark-desaturated-cyan);
}

.footer__links-area {
  margin-top: 2.22em;
}

.footer__links-area .nav-list {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.15em;
}

.footer__socials {
  margin-top: 4.89em;
}

.footer__socials ul {
  list-style: none;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.55em;
}

.footer__signature {
  margin-top: 4.44em;
  padding-bottom: 0.5em;
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

/* ================== */
/* MEDIA QUERIES */
/* ================== */
@media (min-width: 475px) {
  .container {
    padding: 0 2.25em;
  }
}
@media (min-width: 550px) {
  .container {
    padding: 0 3.5em;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    bottom: 7.25em;
  }
}

@media (min-width: 645px) {
  .container {
    padding: 0 5em;
  }

  .card--5 .card__copy-bis,
  .card--6 .card__copy-bis {
    bottom: 10em;
  }
}

/* Tablet */
@media (min-width: 720px) {
  /* TYPOGRAPHY */

  /* UTILITY STYLES */
  .mobile-img {
    display: none;
  }

  .desktop-img {
    display: block;
  }

  /* SECTIONS */

  /* Section A */
  .section-a {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }
}
